body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: mediumseagreen;
}
h1 {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: mediumseagreen;
}
main {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  height: 350px;
  width: 450px;
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid mediumseagreen;
  font-size: 70px;
}
