body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: mediumseagreen;
  color: white;
}
h1 {
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: mediumseagreen;
}
main {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  height: 350px;
  width: 450px;
}
.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid mediumseagreen;
  font-size: 70px;
}
.newGameBtn {
  border: none;
  padding: 20px;
  font-size: 20px;
  margin-top: 20px;
  background-color: mediumseagreen;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5px mediumseagreen;
}
.newGameBtn:hover {
  transform: scale(1.005);
  text-shadow: 0px 0px 2px white;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 20px;
}
i {
  color: white;
  padding-left: 10px;
}
